@import 'compass';
@import 'compass/css3';
@import 'compass/utilities';

$default-text: #444;
$lighter-text: #888;
$link-color: #75959D;
$visited-text: lighten($link-color, .2);
$standard-radius: 5px;
$primary-gradient-base-color: #e6e6e6;
$primary-gradient-highlight-color: white;
$primary-gradient: linear-gradient($primary-gradient-highlight-color, $primary-gradient-base-color);
$header-background-top: #75959D;
$header-background-middle: #698891;
$header-background-bottom: #5D7A82;
$header-gradient: linear-gradient($header-background-top, $header-background-middle 30%, $header-background-bottom);

body{
  font: 12pt Ubuntu, "Helvetica Neue", Helvetica;
  padding: 0;
  margin: 0;
}
#container{
  padding: 1em;
}
a{
  color: $link-color;
  &:visited {
    color: $visited-text;
  }
}
table.subdued{
  width: 100%;
  td, th{
    padding: .5em;
  }
  td{
    border-top: 1px solid #DDD;
    vertical-align: top;
  }
  thead{
    th{
      color: $default-text;
      font-weight: bold;
      text-align: left;
    }
  }
  tbody{
    color: $lighter-text;
    tr.odd td{
      background-color: #F9F9F9;
    }
  }
}
ul.actions {
  @include horizontal-list;
  li{
    a{
      border: 1px solid #ccc;
      font-size: .85em;
      padding: .4em .75em .5em;
      display: inline-block;
      @include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 2px);
      @include border-radius($standard-radius);
      @include background($primary-gradient);
      background-repeat: repeat-x;
      background-color: $primary-gradient-base-color;
      color: $default-text;
      text-decoration: none;
      margin: 0;
      &:hover{
        background-position: 0 -15px;
        @include single-transition(background-position, 0.1s, linear);
      }
    }
  }
}

nav#main-nav{
  @include background-image($header-gradient);
  @include single-box-shadow;
  padding: .5em 1em;
  ul {
    @include horizontal-list;
    display: inline-block;
    li{
      a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 1em;
        &:hover {
          background-color: $header-background-bottom;
        }
      }
    }
  }
  .logo{
    display: inline-block;
    background: url('http://xrono.isotope11.com/system/site_logos/1/original/isotope_logo.png?1330143115');
    width: 130px;
    height: 40px;
    position: relative;
    top: -.25em;
  }
}
